 *{
    box-sizing:border-box;
  }
  body{
    background-color:#abd9e9;
    font-family:Arial;
  }
  #container{
    width:95%;
    height:800px;
    background:#eff3f7;
    margin:0 auto;
    font-size:0;
    border-radius:5px;
    overflow:hidden;
    border-color: black;
  }
  aside{
    width:30%;
    height:800px;
    background-color:#3b3e49;
    display:inline-block;
    font-size:15px;
    vertical-align:top;
  }
  main{
    width:70%;
    height:800px;
    display:inline-block;
    font-size:15px;
    vertical-align:top;
  }
  
  aside header{
    padding:30px 20px;
  }
  aside input{
    width:75%;
    height:50px;
    line-height:50px;
    padding:0 5px 0 20px;
    background-color:#5e616a;
    border:none;
    border-radius:3px;
    color:#fff;
  }
  aside header img{
    display:inline-block;
    width:15%;
    height:50px;
  }
  @media screen and (max-width: 600px) {
    aside header img{
      width:20%;
    }
  }
  aside input::placeholder{
    color:#fff;
  }
  aside ul{
    padding-left:0;
    margin:0;
    list-style-type:none;
    overflow-y:scroll;
    height:690px;
  }
  aside li{
    padding:10px 0;
  }
  aside li:hover{
    background-color:#5e616a;
  }
  h2,h3{
    margin:0;
  }
  aside li img{
    border-radius:50%;
    margin-left:20px;
    margin-right:8px;
    width: 20%;
    animation: animate 1s linear infinite;
    perspective: 800px;
    background-color: green;
  }
  aside li:hover > img{
    animation: none;
  }
  aside li div{
    display:inline-block;
    vertical-align:top;
    margin-top:12px;
  }
  aside li h2{
    font-size:14px;
    color:#fff;
    font-weight:normal;
    margin-bottom:5px;
  }
  aside li h3{
    font-size:12px;
    color:#7e818a;
    font-weight:normal;
  }
  
  .status{
    width:8px;
    height:8px;
    border-radius:50%;
    display:inline-block;
    margin-right:7px;
  }
  .green{
    background-color:#58b666;
  }
  .orange{
    background-color:#ff725d;
  }
  .blue{
    background-color:#6fbced;
    margin-right:0;
    margin-left:7px;
  }
  
  main header{
    height:110px;
    padding:15px 10px 30px 40px;
  }
  main header > *{
    display:inline-block;
    vertical-align:top;
  }
  main header img:first-child{
    border-radius:50%;    
  }
  main header img {      
    width:15%;
    animation: animate 1s linear infinite;
    perspective: 800px;
    background-color: red;
  }
  @keyframes animate {
    0%{
       transform: rotateY(0deg) rotateZ(0deg);
       background-color: red;
    }
    100%{
        transform: rotateY(360deg) rotateZ(360deg);
        background-color: rgb(19, 0, 128);
    }
}
  @media only screen and (min-width: 700px) {
    main header img {      
      width:10%;
    }    
  }
  @media only screen and (max-width: 600px){
    #log_out {
      width:10%;
      font-size: 30%;
      margin-left: 5px;
    }
  }
  #log_out {
    width:20%;
    display:inline-block;
    margin-left: 5px;
  }
  main header img:last-child{
    width:24px;
    margin-top:8px;
  }
  main header div{
    margin-left:10px;
    width: 45%;
  }
  main header h2{
    font-size:16px;
    margin-bottom:5px;
    transform-style: preserve-3d;
    display: flex;
  }
  main header h2 span{
    white-space: nowrap;
    transform-style: preserve-3d;
    transform: translateX(-50%,-50%) rotateX(calc(var(--i) * 30deg)) translateZ(100px);
  }
  main header h3{
    font-size:14px;
    font-weight:normal;
    color:#7e818a;
  }
  
  #chat{
    padding-left:0;
    margin:0;
    list-style-type:none;
    overflow-y:scroll;
    height:535px;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
  }
  #chat li{
    padding:10px 30px;
  }
  #chat h2,#chat h3{
    display:inline-block;
    font-size:13px;
    font-weight:normal;
  }
  #chat h3{
    color:#bbb;
  }
  #chat .entete{
    margin-bottom:5px;
  }
  #chat .message{
    padding:20px;
    color:#fff;
    line-height:25px;
    max-width:90%;
    display:inline-block;
    text-align:left;
    border-radius:5px;
    word-break: break-all;
  }
  #chat .me{
    text-align:right;
  }
  #chat .you .message{
    background-color:#58b666;
  }
  #chat .me .message{
    background-color:#6fbced;
  }
  @media only screen and (max-width: 750px){
    
    input::placeholder {
      font-size: 10%;
    }
  }
  input::placeholder {
    transition: 0.5s;
  }
  input:focus::placeholder{
    color: transparent;
  }
  
  #chat .triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
  }
  #chat .you .triangle{
      border-color: transparent transparent #58b666 transparent;
      margin-left:15px;
  }
  #chat .me .triangle{
      border-color: transparent transparent #6fbced transparent;
      margin-left: auto;
      margin-right:3%;
  }
  
  main footer{
    height:155px;
    padding:20px 30px 10px 20px;
  }
  main footer textarea{
    resize:none;
    border:none;
    display:block;
    width:100%;
    height:80px;
    border-radius:3px;
    padding:20px;
    font-size:13px;
    margin-bottom:13px;
  }
  main footer textarea::placeholder{
    color:#ddd;
  }
  main footer img{
    height:30px;
    cursor:pointer;
  }
  main footer button{
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
    color: rgb(246, 250, 252);
    background-color:#6fbced;
    vertical-align:top;
    margin-left:87%;
    margin-top:4px;
    display:inline-block;
    border:none;
    border-radius: 10px;
  }